<div class="form-container mt-5">
    <div class="contact-form">
        <div class="heading">
            <h1 class="text-white">{{"get in touch" | uppercase}}</h1>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, nisi temporibus quo
                quia vero accusamus
                cum, officia, quisquam perspiciatis laboriosam iusto explicabo reiciendis et quam? Cupiditate beatae
                voluptatum nulla dignissimos.</p>
        </div>
        <div class="form-warp p-3">
            <form>
                <div class="input-wrap mb-3">
                    <div class="form-group">
                        <label class="form-label" for="name">Name<sup>*</sup></label>
                        <input class="form-control" type="text" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="email">Email Address <sup>*</sup></label>
                        <input class="form-control" type="email" name="" id="email">
                    </div>
                </div>
                <div class="form-group1 mb-3">
                    <label class="form-label" for="message">Message<sup>*</sup></label>
                    <textarea rows="rows" cols="cols" pInputTextarea></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary me-2">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>