.container{
    .dashboard{
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        @media(min-width:"756px") {
            flex-direction: row;
        }
    }
    .filter{
        width: 100%;
        margin-bottom: 20px;
        @media(min-width:"756px") {
            width: 22%;
            margin-bottom: 0px;
        }
    }
    .cards{
        width: 100%;
        @media(min-width:"756px") {
            width: 75%;
        }
    }
}