/* You can add global styles to this file, and also import other style files */
/* For Headings, Labels, and Buttons */
h1,
h2,
h3,
h4,
h5,
h6,
label,
button {
    font-family: "Montserrat", sans-serif;
}

/* For Body Text */
body,
p,
span {
    font-family: "Mulish", sans-serif !important;
    font-weight: 500;
}

body {
    background: linear-gradient(to bottom, #081221, #03080f);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Optional: This keeps the gradient fixed during scrolling */
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Ensures the gradient covers the full viewport height */
}